/*Importando Fontes*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;700&display=swap');/*Inter*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;800&display=swap'); /*Montserrat*/

*
{
    padding: 0px;
    margin: 0px;
}


/*Estilização da scroll bar*/

::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #5c5c5c;  
}

/*Estilização da barra de menu*/

nav ul 
{
    border-radius: 30px;
    margin: 1% 20%;
    background-color: #FFA1A1;
    height: 100px;
    justify-content: space-around;
    display: flex;
    list-style: none;
    align-items: center;
}
nav ul li a 
{
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: #000;
    font-size: x-large;
}

nav ul li a:hover 
{
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: #FFEEBC;
    font-weight:bold;
}

/*Estilização do Texto central*/

.centro
{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 60px;
    font-family: 'Montserrat', sans-serif;
}

.centro h1
{
    text-align: center;
}

.centro h4
{
    margin-top: 1%;
}

.enfeite 
{
    border-radius: 10px;
    width: 700px;
    border: 2px solid #DFDDDD;
}

/*Estilização do icone de mouse e da seta*/

#mouse img 
{
    margin:4% 50%;
}

/*Conteudo do meio*/

.InfoPessoal
{
    background: rgba(91, 181, 250, 0.7);
    border-radius: 87px;
    margin-top: 40px;
    margin-bottom: 100px;
    margin-left: 80px;
    margin-right: 80px;
    -webkit-box-shadow: -1px -4px 30px 0px rgba(47, 50, 50, 0.52);
    -moz-box-shadow:    -1px -4px 30px 0px rgba(47, 50, 50, 0.52);
    box-shadow:         -1px -4px 30px 0px rgba(47, 50, 50, 0.52);
    padding: 50px 170px 100px 170px;

}

.InfoPessoal h1
{
    font-size: xx-large;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-bottom: 1.5%;
}

.Pessoal
{
    display: flex;
    align-items: center;
}

.Pessoal img
{
    border-radius: 50%;
    height: 25%;
    width: 25%;
}

.Pessoal p
{
    line-height: 30px;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    margin-left: 3%;
}
/*Estilizando a parte de objetivo*/

.Objetivo h1
{
    font-size: xx-large;
    font-family: 'Montserrat', sans-serif;
    margin-left: 5%;
}

.Objetivo p
{
    font-size: 25px;
    line-height: 37.5px;
    font-family: 'Inter', sans-serif;
    margin-left: 5%;
}

.Objetivo img
{
    height: 350px;
    width: 350px;
}

.Flex
{
    align-items: center;
    display: flex;
}
/*Estilizando as ultimas informações (Conhecimento, Idiomas, Extracurriculares)*/

.ultimos
{
    justify-content: space-around;
    display: flex;
}

.quadrado
{
    background-color:#fff;
    width: 550px;
    height: 450px;
    border: 3px solid #000;
    border-radius: 30px;
    margin-bottom: 1.5%;
}

.quadrado h3
{
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-top:30px;
}

.quadrado p
{
    padding: 50px;
    font-family: 'Inter', sans-serif;
    text-align: center;
    line-height: 150%;
    font-size: 20px;
}